apiVersion: argoproj.io/v1alpha1
kind: Application

metadata:
  name: application
  namespace: argocd

spec:
  project: default
  source:
    repoURL: http://gitlab-webservice-default.gitlab.svc.cluster.local:8181/anguinau/inception-of-things.git
    path: .

  destination:
    server: https://kubernetes.default.svc

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
